input:focus {
	outline: none;
}

.InputField {
	overflow: hidden;
	margin-bottom: 25px;
}

.InputField label {
	margin: 0px auto 35px auto;
	overflow: hidden;
}

.InputField span {
	font-size: 17.5px;
	color: #F3F3F5;
	letter-spacing: 1.25px;
	display: inline-block;
}

.InputField input {
	border: none;
	padding: 15px 15px 10px 15px;
	background: inherit;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom: 3px solid #1F224A;
	width: 100%;
	letter-spacing: 1.25px;
	color: #F3F3F5;
	font-weight: 300;
	transform: all 500ms ease-in-out;
}

.InputField input::placeholder {
	color: #F3F3F5;
	opacity: 0.65;
	font-size: 15px;
}

.slider {
	color: #202249;
	text-align: center;
}

.slider input[type="range"] {
	-webkit-appearance: none;
	width: 90%;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #262856, 0px 0px 1px #161833;
	background: #1F224A;
	border-radius: 5px;
}

.slider input[type="range"]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #B1154A, 0px 0px 1px #710D2F;
	height: 25px;
	width: 8px;
	border-radius: 3px;
	background: #F11C64;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9px;
}

.slider-name {
	font-size: 15px;
	letter-spacing: 1.25px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 2.5px;
}

.slider-count {
	text-align: right;
	font-size: 12.5px;
	margin-top: 2.5px;
}