.FormOptions {
	display: flex;
	justify-content: space-between;
	margin: 25px auto;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #262856, 0px 0px 1px #161833;
	background: #1F224A;
	border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #B1154A, 0px 0px 1px #710D2F;
	height: 25px;
	width: 8px;
	border-radius: 3px;
	background: #F11C64;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9px;
}

.pass-gen-transition-enter {
	opacity: 0;
}
.pass-gen-transition-enter.pass-gen-transition-enter-active {
	opacity: 1;
	transition: opacity 200ms ease-in-out;
}
.pass-gen-transition-leave {
	opacity: 1;
}
.pass-gen-transition-leave.pass-gen-transition-leave-active {
	opacity: 0;
	transition: all 300ms ease-in-out;
}