.Header {
	padding: 10px 0 10px 0;
	flex-basis: 60px;
	transition: all 200ms linear 150ms;
	position: relative;
	overflow: hidden;
}

.expand {
	flex-basis: 135px;
}

.row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #F1F1F4;
	padding: 0 5px;
}

.nav-transition-enter {
	transform: translateX(-70%);
	opacity: 0;
}

.nav-transition-enter.nav-transition-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: transform 400ms ease-in-out 150ms, opacity 300ms ease-in-out 150ms;
}

.nav-transition-leave {
	opacity: 1;
	transform: translateX(0);
}

.nav-transition-leave.nav-transition-leave-active {
	opacity: 0;
	transform: translateX(70%);
	transition: transform 250ms ease-in-out, opacity 200ms ease-in-out;
}