.ItemIcon {
	font-size: 22.5px;
	padding: 0 20px;
	color: #F1F1F4;
	transition: all 500ms ease-in-out;
	max-width: 50px;
	overflow: hidden;
}
.ItemIconHidden {
	opacity: 0;
	padding: 0;
	max-width: 10px;
}

.ServiceName {
	font-size: 17.5px;
	color: #EE1959;
	margin-bottom: 5px;
	font-weight: 400;
	height: 20px;
	overflow: hidden;
}

.UserName {
	color: #F1F1F4;
	font-size: 15px;
	font-weight: 300;
}

.ShowPassOptionsBtn {
	font-size: 17.5px;
	color: #F1F1F4;
	padding: 2.5px 7.5px;
	cursor: pointer;
}

.Overview {
	overflow: hidden;
	letter-spacing: 1.75px;
	flex-basis: 75%;
	transition: all 500ms ease-in-out;
}

.OverviewShort {
	flex-basis: 80%;
	padding: 0 10px;
}

.PasswordDetails {
	display: flex;
	align-items: center;
	background: #282F5B;
	height: 85px;
	width: 95%;
	border-radius: 0 500px 500px 0;
	margin-left: 2.5px;
	letter-spacing: 1.65px;
	position: relative;
	transition: all 500ms ease-in-out;
}
.PasswordDetailsShrink {
	width: 50%;
}

.PasswordItem {
	display: flex;
	overflow: hidden;
	padding: 0 0 10px 0;
	position: relative;
}

.showOptions-enter {
	transform: translateX(110%);
	opacity: 0;
}
.showOptions-enter.showOptions-enter-active {
	transform: translateX(0);
	opacity: 1;
	transition: all 500ms ease 100ms;
}
.showOptions-leave {
	opacity: 1;
	transform: translateX(0);
}
.showOptions-leave.showOptions-leave-active {
	opacity: 0;
	transform: translateX(110%);
	transition: all 500ms ease;
}

/*.item-icon-enter {
	opacity: 0;
	padding: 0;
	max-width: 0px;
}
.item-icon-enter.item-icon-enter-active {
	opacity: 1;
	padding: 0 20px;
	max-width: 50px;
	transition: all 500ms ease-in-out;
}
.item-icon-leave {
	opacity: 1;
	max-width: 50px;
	padding: 0 20px;
}
.item-icon-leave.item-icon-leave-active {
	opacity: 0;
	padding: 0;
	max-width: 0px;
	transition: all 500ms ease-in-out;
}*/