.showOptions-enter {
	transform: translateX(110%);
	opacity: 0;
}

.showOptions-enter.showOptions-enter-active {
	transform: translateX(0);
	opacity: 1;
	transition: all 500ms ease 100ms;
}

.showOptions-leave {
	opacity: 1;
	transform: translateX(0);
}

.showOptions-leave.showOptions-leave-active {
	opacity: 0;
	transform: translateX(110%);
	transition: all 500ms ease;
}