h1 {
	margin: 0 0 20px 0;
	text-transform: uppercase;
	font-size: 1.35em;
	padding-bottom: 5px;
	border-bottom: 3px solid #F11C64;
	color: #F3F3F5;
	font-weight: 300;
	letter-spacing: 1.5px;
}
form {
/*	border: 1px solid red;*/
	font-weight: 300;
}

label, input {
	display: block;
}

label {
	margin: 0px auto 35px auto;
	overflow: hidden;
}

label > span {
	font-size: 1em;
	color: #F3F3F5;
	letter-spacing: 1.25px;
	display: inline-block;
}

label > input {
	border: none;
	padding: 15px 15px 10px 15px;
	background: inherit;
	border-bottom: 3px solid #1F224A;
	width: 100%;
	letter-spacing: 1.25px;
	color: #F3F3F5;
	font-size: .9em;
	font-weight: 300;
}

label > input::placeholder {
	color: #F3F3F5;
	opacity: 0.4;
}

label > input:focus {
	outline: none;
}

form > div {
	display: flex;
	justify-content: space-between;
	margin: 25px auto;
}

form > div > button {
	border: none;
	background: inherit;
	color: #EF5A40;
	letter-spacing: 1px;
	border-bottom: 1px solid #EF5A40;
	font-weight: 300;
	cursor: pointer;
	font-size: .9em;
	padding: 0 5px;
}

form > div > button:focus {
	outline: none;
}

form > div > input[type="submit"] {
	border: 1px solid red;
	background: inherit;
	color: #F3F3F5;
	letter-spacing: 1px;
	font-weight: 300;
	border: 2px solid #F3F3F5;
	padding: 5px 15px;
	cursor: pointer;
}

form > div > input[type="submit"]:focus {
	outline: none;
}


/*label {
	display: block;
}

input {
	display: block;
	width: 85%;
	margin: 0 auto;
	height: 40px;
	font-size: 1.25em;
	padding: 0 10px;
	border-radius: 5px;
	border: none;
}*/

